/* main h1{
    margin: 0 auto;
    font-size: 100px;
    font-weight: 400;
    width: 831px;
    height: 165px;
    text-align: center;
    margin-top: 18%;
} */

header{
    /* background-color: aquamarine; */
    width: 1440px;
    height: 80px;
    padding: 17px 39px 17px 39px;
    gap: 387px;
    opacity: 0px;
}

.options{
    text-decoration: none;
}
.active{
    font-weight: bold;
}

.links{
    /* background-color: rgb(13, 255, 174); */
    padding: 4px, 122px, 4px, 122px;
    font-weight: 400px;
    display: flex;
    width: 80%;
    height: 47px;
    justify-content: space-around;
    /* margin: 0 auto; */
}

.links :visited{
    color: black;
}

.links a{
    color: black;
    font-size: 24px;
    /* width: 177px; */
    height: 44px;
    /* background-color: blueviolet; */
    text-align: center;
}

.username{
    /* background-color: aqua; */
    width: 247px;
    height: 44px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    left: 80%;
    top: 10px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: right;
}
main{
    /* background-color: rgb(13, 255, 174); */
    width:  1,350px;
    height:  1,089px;
    padding: 31px 30px 31px 30px;
    gap: 30px;
    opacity: 0px;
}

.products{
    width: 850px;
    height: 200px;
    padding: 10px 0px 0px 0px;
    gap: 23px;
    border: 0px 3px 0px 0px;
    opacity: 0px;
    border-right: 3px solid black; 
    margin-bottom: 20px;
}

.products .images{
    width: 150px;
    height: 150px;
}

.products h2{
    /* background-color: black; */
    width: 147px;
    height: 97px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.89px;
    text-align: center;
    /* margin-top: 100x; */
    /* right:50px ; */
    left: 44%;
    margin-top: 50px ;
    position: absolute;
}
.minus, .plus, .delete{
    background-color:#EFCB4A;
    width: 41px;
    height: 41px;
    /* padding: 10px 0px 0px 0px; */
    gap: 10px;
    opacity: 0px;
    position: absolute;
    font-size: 29px;
    place-items: center;
    margin-top: 50px;
}

.minus{
    left: 35%;
}
.plus{
    left: 41%;
}
.delete{
    background-color:#ffffff;
    left: 38%;
    margin-top: 7%;
    border: none;
}

.product_quantity{
    /* background-color: aquamarine; */
    width: 41px;
    height: 41px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    position: absolute;
    left: 38%;
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.89px;
    text-align: center;
    margin-top: 3%;
}

.name{
    color: black;
    size: 28px;
    text-align: center;
    width: 20%;
    height: 15%;
    position: absolute;
    left: 12%;
}

.invisible{
    width: 1px;
    height: 1px;
    visibility: hidden;
}

.order{
    right: 10%;
    top: 10%;
    position: absolute;
}
.checkout{
    width: 450px;
    height: 104px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    border-radius: 15px;
    border: 1px, solid;
    background-color: #EFCB4A;;   
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.63px;
    text-align: center;
}
.calculation{
    /* background-color: aquamarine; */
    width: 377px;
    height: 53px;
    padding: 10px 0px 0px 0px;
    gap: 26px;
    right: 10%;
    top: 10%;
    /* margin: 10%; */
}

.order .calculation h6{
    width: 175px;
    height: 22px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
}
.order .calculation h3{
    width: 220px;
    height: 44px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.63px;
    text-align: right;
    font-family: Inter;
    top: 47%;
    right: 2%;
    position: absolute;
    text-align: center;
}

.order .calculation h5{
    width: 191px;
    height: 44px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;  
    top: 15%;
    right: 5%;     
}

.order .calculation h4{
    width: 191px;
    height: 44px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 800;
    line-height: 29.05px;
    text-align: left;
        
}
.order .calculation p{
    width: 220px;
    height: 44px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 800;
    line-height: 29.05px;
    position: absolute; 
    top: 85%;
    right: 2%;
    text-align: center;
}

.order .calculation h2{
    /* background-color: bisque; */
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.63px;
    text-align: right;
    width: 220px;
    height: 44px;
    position: absolute;
    top: 65%;
    right: 2%;
    text-align: center;
}